In [1]:
# Import the dependencis.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Solton,RU,2020-11-06 00:41:00,52.84,86.48,33.12,92,100,7.65
1,1,Oranjestad,AW,2020-11-06 00:41:01,12.52,-70.03,82.40,78,20,13.87
2,2,Tire,TR,2020-11-06 00:41:01,38.09,27.74,60.80,67,40,17.22
3,3,Avarua,CK,2020-11-06 00:41:01,-21.21,-159.78,77.00,78,27,9.17
4,4,Arraial Do Cabo,BR,2020-11-06 00:41:01,-22.97,-42.03,68.94,80,100,13.98

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maxiumum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Using List comprehension
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maxiumum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Add Zoom and Center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call Figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call Figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Oranjestad,AW,2020-11-06 00:41:01,12.52,-70.03,82.40,78,20,13.87
3,3,Avarua,CK,2020-11-06 00:41:01,-21.21,-159.78,77.00,78,27,9.17
7,7,Vanimo,PG,2020-11-06 00:41:02,-2.67,141.30,86.76,63,100,4.05
15,15,Rodrigues Alves,BR,2020-11-06 00:41:03,-7.74,-72.65,81.01,59,85,2.71
16,16,Lovington,US,2020-11-06 00:41:03,32.94,-103.35,75.20,11,5,8.05
21,21,Vila Velha,BR,2020-11-06 00:41:04,-20.33,-40.29,78.01,83,75,11.41
22,22,George Town,MY,2020-11-06 00:39:15,5.41,100.34,78.80,88,20,2.24
23,23,Geraldton,AU,2020-11-06 00:41:04,-28.77,114.60,80.60,36,0,28.86
28,28,Reyes,BO,2020-11-06 00:41:05,-14.32,-67.38,82.40,39,56,1.57
30,30,Faanui,PF,2020-11-06 00:41:05,-16.48,-151.75,79.65,81,0,16.98

In [13]:
# Check for Null Values
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1        Oranjestad      AW     82.40  12.52  -70.03
3            Avarua      CK     77.00 -21.21 -159.78
7            Vanimo      PG     86.76  -2.67  141.30
15  Rodrigues Alves      BR     81.01  -7.74  -72.65
16        Lovington      US     75.20  32.94 -103.35
21       Vila Velha      BR     78.01 -20.33  -40.29
22      George Town      MY     78.80   5.41  100.34
23        Geraldton      AU     80.60 -28.77  114.60
28            Reyes      BO     82.40 -14.32  -67.38
30           Faanui      PF     79.65 -16.48 -151.75

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the parms dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except Exception as ex:
#         print(ex)
    except (IndexError):
        print("Hotel not found... skipping.")


hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Oranjestad,AW,82.40,12.52,-70.03,Divi Village Golf & Beach Resort
3,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
7,Vanimo,PG,86.76,-2.67,141.30,Vahmoneh Lodge Vanimo
15,Rodrigues Alves,BR,81.01,-7.74,-72.65,Pousada Aconchego
16,Lovington,US,75.20,32.94,-103.35,Buena vida rv parks
21,Vila Velha,BR,78.01,-20.33,-40.29,Hotel Vitória Palace
22,George Town,MY,78.80,5.41,100.34,Cititel Penang
23,Geraldton,AU,80.60,-28.77,114.60,Broadwater Mariner Resort
28,Reyes,BO,82.40,-14.32,-67.38,
30,Faanui,PF,79.65,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store teh DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]